<?xml version="1.0" encoding="UTF-8"?>

<config>
    <jira>
        <url></url>
        <jql></jql>
        <username></username>
        <password></password>
    </jira>
    <notion>
        <token></token>
        <databaseID></databaseID>
        <version>2021-08-16</version>
    </notion>
    <run>
        <interval>10</interval>
    </run>
</config>